/*---- TableView ----*/
.table-view {
	-fx-selection-bar: #c3c3c3;
}

.tab-selected-line {
    -fx-background-color: -fx-focus-color;
}

.text-field {
    -fx-accent: black;
}

.icon-button {
    -fx-stroke: #888888;
    -fx-background-color: transparent, transparent, transparent, transparent, transparent;
    -fx-pref-height: 20;
    -fx-pref-width: 20;
    -fx-min-height: 20;
    -fx-min-width: 20;
    -fx-max-height: 20;
    -fx-max-width: 20;
}